<div class="container">
  <div class="jumbotron">
    <h1 class="display-3">Bienvenid@ al Pinterest de Cervezas!</h1>
    <p class="lead">Acá encontrarás fotos y descripciones de distintas variedades de chelas.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="<%= pins_path %>" role="button">A ver los Pins!</a>
    </p>
  </div>
</div>

<div class="container">
<div class="row">

<% @pins.each do |pin| %>
  <%= render 'shared/cards', pin:pin %>
<% end %>

  </div>
</div>