<h1>Título</h1>
<h2>Sub Titulo</h2>
<p>lorem</p> 
<p>ipsum</p>

  <div class="jumbotron">
    <h1 class="titulos"> Título </h1>
    <h2 class="titulos"> Otro Titulo </h2>
    <a href="http://en1mes.com" class="btn btn-default"> En1Mes </a>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <a href="http://en1mes.com"> En 1 mes en otra página </a>
        <p class="titulos"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
      </div>

      <div class="col-md-4">
        <h2> Subtítulos </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      
      <div class="col-md-4">
        <h3> Sub subtítulo </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <h6>sub ... subtítulo </h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      </div>
    </div>
  </div>



<ul>
  <li> ítem 1 </li>
  <li> ítem 2  </li>
  <li> ítem 3  </li>
</ul>
<ol>
  <li> ítem 1 </li>
  <li> ítem 2  </li>
  <li> ítem 3  </li>
</ol>
<hr></hr>
<a href="http://en1mes.com">
    <img src="https://i1.wp.com/www.vectorico.com/wp-content/uploads/2018/02/Pinterest-Icon-Square.png?resize=300%2C300">
    
</a>